body {
  margin: 0;

  font-family: "Cuprum", "Arial", sans-serif;
}

main {
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.container {
  box-sizing: border-box;
  width: 940px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  padding: 10px 15px;

  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.main-header {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;

  background-color: #f3f7f8;
}

.header-in-header {
  width: 100%;
  margin-bottom: 46px;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.header-in-header .container {
  display: flex;
}

.main-header-logo,
.footer-logo {
  padding: 13px 57px 11px 55px;

  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

a.main-header-logo:hover,
a.main-header-logo:focus {
  background-color: #ca2c37;
}

a.main-header-logo:active {
  background-color: #ba2732;
}

.search-form {
  display: flex;
}

svg .fill-icon-search {
  fill: #ffffff;
}

.search-form label {
  order: -1;
  padding: 12px 13px 13px 17px;

  opacity: 0.3;
}

.search-form label:hover {
  background-color: #212a3a;
  opacity: 1;
}

input[type="search"] {
  width: 225px;

  font-size: 17px;
  line-height: 18px;

  background-color: #293449;
  border: none;
}

input[type="search"]:hover + label {
  background-color: #212a3a;
  opacity: 1;
}

input[type="search"]:focus + label {
  background-color: #ffffff;
  opacity: 1;
}

input[type="search"]:focus + label .fill-icon-search {
  fill: #ee3643;
}

input[type="search"]::-webkit-input-placeholder {
  color: #ffffff;
}

input[type="search"]::-moz-input-placeholder {
  color: #ffffff;
}

.tabs,
.cart {
  position: relative;

  box-sizing: border-box;
  width: 150px;

  color: #ffffff;

  background-color: #293449;
}

.tabs {
  padding: 13px 10px 12px 44px;
}

.tabs::before {
  content: url("../img/icon-tabs.svg");

  position: absolute;
  top: 12px;
  left: 17px;

  opacity: 0.3;
}

.cart {
  padding: 13px 10px 12px 50px;
}

.cart::before {
  content: url("../img/icon-cart.svg");

  position: absolute;
  top: 12px;
  left: 18px;

  opacity: 0.3;
}

input[type="search"]:hover,
.tabs:hover,
.cart:hover,
.tabs:focus,
.cart:focus {
  background-color: #212a3a;
}

.tabs:hover::before,
.cart:hover::before{
  opacity: 1;
}

.tabs:active,
.cart:active {
  background-color: #161d29;
  opacity: 0.6;
}

.tabs:active::before,
.cart:active::before{
  opacity: 0.5;
}

input[type="search"]:focus {
  background-color: #ffffff;
  outline: none;
}

.btn-checkout {
  box-sizing: border-box;
  padding: 13px 20px 12px 20px;
  width: 150px;

  color: #ffffff;

  background-color: #63a63e;
}

.btn-checkout:hover,
.btn-checkout:focus {
  background-color: #5fbb2d;
}

.btn-checkout:active {
  background-color: #518534;
  opacity: 0.5;
}

.footer-in-header {
  display: flex;
  margin-bottom: 43px;
}

.main-description {
  box-sizing: border-box;
  margin: 0;
  margin-right: 20px;
  padding: 0 55px 0 53px;
  width: 300px;

  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.address-number-header {
  width: 270px;
}

.telephone-number-header {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 8px 49px 7px 71px;

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  background: url("../img/icon-phone.svg") 15px center no-repeat;
  border: 3px solid #ffffff;
}

.address-header {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  width: 100%;

  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;
}

.user-area-and-navigation-wrapper {
  width: 300px;
  margin-left: 50px;
}

.user-area {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding: 12px 10px 12px 14px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.user-name {
  color: #000000;
}

.user-name svg {
  margin-right: 14px;
}

.user-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation-if-logged {
  display: flex;
  margin: 0;
  margin-top: 9px;
  margin-left: 18px;
  padding: 0;


  font-size: 16px;
  line-height: 18px;
  color: #32425c;
}

.user-navigation-if-logged li:first-child {
  list-style: none;
  margin-right: 32px;
}

.user-navigation-if-logged a {
  color: #32425c;
  text-decoration: underline;
}

.user-navigation-if-logged a:hover,
.user-navigation-if-logged a:focus {
  color: #ee3643;
}

.user-navigation-if-logged a:active {
  color: rgba(50, 66, 92, 0.3);
}

.user-navigation,
.site-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-navigation {
  display: flex;
  width: 281px;
  margin-left: 69px;
  justify-content: space-between;
}

.user-navigation a {
  display: block;
  padding: 11px 24px;


  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.user-navigation .login-link {
  padding-left: 14px;
}

.login-link svg {
  margin-right: 10px;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3)
}

svg .login-icon-fill {
  fill: #c5c5c5;
}

.login-link:hover .login-icon-fill,
.user-name:hover .login-icon-fill,
.log-out:hover .login-icon-fill,
.login-link:focus .login-icon-fill,
.user-name:focus .login-icon-fill,
.log-out:focus .login-icon-fill {
  fill: #32425c;
}

.login-link:active .login-icon-fill,
.user-name:active .login-icon-fill,
.log-out:active .login-icon-fill {
  fill: #c5c5c5;
}

.main-navigation {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #32425c;
  box-shadow: 0 -5px 0 0 #293449 inset;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.site-navigation a {
  display: block;
  padding: 21px 31px;

  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}

.technomart-nav {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.technomart-nav a {
  display: block;
  color: #000000;
}

.technomart-nav li {
  margin-right: 28px;
  padding-left: 16px;

  list-style-image: url("../img/icon-right-small.svg");
}



.technomart-nav li:first-child {
  padding-left: 0;

  list-style: none;
}

.technomart-nav li:last-child {
  margin-right: 0;
}

.technomart-nav li:first-child a {
  width: 15px;
  height: 12px;

  background-image: url(../img/icon-home.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

.page-title {
  padding: 28px;
  margin-bottom: 20px;

  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f3f7f8;
}

.promo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  padding-top: 59px;
  margin-bottom: 53px;

  color: #ffffff;
}

.promolist {
  margin-bottom: 20px;

  width: 300px;
  height: 123px;
}

.sales-and-delivery-wrapper .promolist:last-child {
  margin-bottom: 0;
}

.promolist h3 {
  margin: 0;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
}

.promo-slider {
  position: relative;

  width: 620px;
  height: 266px;

  background-color: #3a241f;
}

.promo-slider h3 {
  position: absolute; /*временно без четкой позиции*/

  margin: 0;
  padding: 0;

  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.promo-slider p {
  position: absolute; /*временно без четкой позиции*/

  font-size: 18px;
  line-height: 24px;
}

.promo-slider .button {
  position: absolute; /*временно без четкой позиции*/
  top: 0;
}

/*временно*/
.drill.promo-slider,
.btn-prev,
.btn-next,
.warranty-slider,
.credit-slider {
  display: none;
}

.btn-in-promo {
  background-color: rgba(0, 0, 0, 0.3);
}

.btn-in-promo:hover,
.btn-in-promo:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.btn-in-promo:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.materials {
  background-color: #ffbf47;
}

.instrument {
  background-color: #3bbce3;
}

.tech {
  background-color: #dc91d8;
}

.sale {
  background-color: #8ed78f;
}

.delivery {
  background-color: #ffc047;
}

.filters-and-catalog-columns {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}

.filters {
  width: 220px;
}

.catalog-wrapper {
  display: flex;
  flex-direction: column;
  width: 700px;
}

.filters,
.sorting {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.filters h2,
.sorting h2 {
  margin: 0;
  padding: 11px 18px;

  font-weight: normal;
  font-size: 13px;
  line-height: 18px;

  background-color: #f7f3ec;
  border-radius: 1px;
}

.filter-form fieldset{
  margin: 0;
  padding: 0;

}

.filter-form legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.filter-form label {
  font-size: 15px;
  line-height: 20px;
}

.filter-form fieldset {
  border: none;
}

.filter-form fieldset:not(:first-of-type) {
  border-top: 1px solid #e5e5e5;
}

.range-field {
  margin-bottom: 9px;
  width: 220px;
  height: 80px;
}

.input-range {
  box-sizing: border-box;
  padding: 11px;
  width: 95px;
  height: 38px;

  text-align: center;
}

.input-range,
.range-field {
  background-color: #f7f3ec;
  border: none;
  border-radius: 1px;
}

.sorting {
  position: relative;
}

.sorting-list {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sorting-category {
  font-size: 13px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);

  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #ee3643;
}

.sorting-category:hover,
.sorting-category:focus {
  color: #000000;

  text-decoration-style: solid;
}

.btn-show {
  font-size: 13px;
  color: #000000;

  background-color: transparent;
  border: 1px solid #e5e5e5;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.catalog-item {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-width: 220px;
  margin-top: 20px;
  padding-bottom: 20px;

  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;

  border: 1px solid #e5e5e5;
  list-style: none;
}

.catalog-item:hover {
  padding-top: 1px;
  padding-bottom: 21px;
}

.in-index .catalog-item {
  margin-bottom: 20px;
}

.catalog-item .catalog-options {
  position: absolute;

  box-sizing: border-box;
  width: 218px;
  height: 170px;
  padding: 43px 0;
  order: -2;

  background-color: #ffffff;
}

.catalog-options .button {
  display: block;
}

.catalog-item img {
  order: -1;
}

.catalog-item .catalog-options {
  display: none;
}

.catalog-item:hover {
  border: none;
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item:hover .catalog-options {
  display: block;
}

.catalog-item h3 {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  font-size: 18px;
  line-height: 20px;
}

.old-price,
.price {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #999999;
  text-decoration: line-through;
}

.old-price {
  width: 100%;
  min-height: 20px;
  margin-bottom: 10px;
}

.price {
  position: relative;
  margin: 0 auto;
  padding: 10px 30px;

  color: #ffffff;
  text-decoration: none;
  background-color: #ee3643;
  border-radius: 3px;
}

.price::after {
  content: "";

  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 19px solid white;
  border-left-color: #ee3643;
}

.btn-buy,
.btn-tabs {
  width: 135px;
  margin: 0 auto;

  font-family: "Cuprum", "Arial", sans-serif;
}

.btn-buy {
  margin-bottom: 8px;

  background-color: #63a63e;
  box-shadow: 0 -3px 0 0 #367315 inset;
}

.btn-buy:hover,
.btn-buy:focus {
  background-color: #5fbb2d;
}

.btn-buy:active {
  background-color: #518534;
  box-shadow: none;
  outline: none;
}

.btn-tabs {
  padding: 7px 12px;

  color: #32425c;

  background-color: transparent;
  border: 3px solid #63a63e;
}

.btn-tabs:hover,
.btn-tabs:focus {
  color: #32425c;

  background-color: transparent;
  border-color: #32425c;
}

.btn-tabs:active {
  opacity: 0.3;
  outline: none;
}

.new-flag {
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 10;

  width: 60px;
  height: 59px;

  background: url("../img/new-flag.png") 0 0 no-repeat;
}

.catalog-item:hover .new-flag {
  top: 0;
  right: 0;
}

.pagination-list {
  display: flex;
  margin: 0;
  margin-top: 52px;
  padding: 0;

  list-style: none;
}

.pagination-item a {
  display: block;
  box-sizing: border-box;
  margin-right: 10px;
  padding: 10px 13px;
  min-width: 38px;
  height: 38px;

  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;

  border: 1px solid #e5e5e5;
  border-radius: 1px;
}

.pagination-item:last-child a {
  margin-right: 0;
  padding: 10px 31px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border-color: #bdc6ca;
}

.pagination-item a:active {
  border-color: #ee3643;
}

.popular-products,
.popular-brands {
  position: relative;
}

.popular-brands {
  margin-bottom: 85px;
}

.popular-products h2,
.popular-brands h2 {
  margin: 0;
  padding: 33px 28px 35px;

  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f9f5f0;
}

.popular-products > .button,
.popular-brands > .button {
  position: absolute;
  top: 0; /*временно*/
  right: 0;
}

.brand-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

.brand-logo li {
  margin-top: 20px;
}

.brand-link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 220px;
  height: 145px;

  border: 1px solid #e5e5e5;
}

.brand-link:hover,
.brand-link:focus {
  border: none;
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brand-link:active {
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.brand-link:active img {
  opacity: 0.3;
}

.services {
  padding-top: 72px;
  padding-bottom: 98px;
  margin-bottom: 73px;

  background-color: #f4f8fa;
}

.features {
  padding-top: 64px;
  padding-bottom: 70px;

  background-color: #f2f6f8;
}

.services h2,
.about-company h2,
.contacts h2,
.features h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;

  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.services h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;

  font-size: 36px;
  line-height: 24px;
  color: #32425c;
  text-transform: uppercase;
}

.services p,
.about-company p,
.contacts p,
.features p {
  margin: 0;
  padding: 0;

  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
}

.services p {
  width: 400px;
}

.about-company p {
  width: 520px;
}

.about-company p:last-of-type {
  width: 390px;
}

.contacts p {
  width: 180px;
}

.about-company p,
.contacts p {
  margin-bottom: 25px;
}

.services-slider-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
}

.services-list {
  width: 240px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-list a {
  display: block;

  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;

  background-color: #32425c;
  box-shadow:
    0 1px 0 0 #405069 inset,
    0 -1px 0 0 #293449 inset;
}

.services-list a:hover,
.services-list a:focus {
  background-color: #293449;
}

.services-slider {
  width: 620px;
}

.about-and-contacts-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
}

.about-company {
  width: 540px;
}

.contacts {
  width: 300px;
}

.delivery-companies {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  font-size: 18px;
  line-height: 20px;
  color: #000000;

  list-style: none;
}

.delivery-companies li {
  position: relative;

  margin-left: 35px;
  margin-bottom: 22px;
}

.delivery-companies li::before {
  content: "";

  position: absolute;
  top: 8px;
  left: -35px;

  display: block;
  width: 25px;
  height: 2px;

  background-color: #ee3643;
}

.map-button {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  width: 300px;
  height: 158px;

  background-color: #f4f2ed;
  border: none;
}

.contacts .button {
  width: 100%;
}

.main-footer {
  display: flex;
  flex-direction: column;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  background-color: #32425c;
}

.header-in-footer .container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 50px;
}

.main-footer ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-navigation,
.promo-list-in-footer {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 560px;
}

ul.promo-list-in-footer {
  padding-top: 35px;
  align-self: flex-start;
}

.footer-navigation li,
.promo-list-in-footer li {
  padding: 0 30px;
}

.footer-navigation li:first-child,
.promo-list-in-footer li:first-child {
  padding-left: 0;
}

.footer-navigation li:last-child,
.promo-list-in-footer li:last-child {
  padding-right: 0;
}

.footer-navigation a {
  color: #ffffff;
}

.promo-list-in-footer a {
  color: #ffd180;
}

.footer-navigation a:hover,
.footer-navigation a:focus,
.promo-list-in-footer a:hover,
.promo-list-in-footer a:focus,
.footer-copyright a:hover,
.footer-copyright a:focus {
  text-decoration: underline;
}

.footer-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.promo-list-in-footer a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.address-telephone-in-footer {
  width: 330px;
  margin-top: 35px;
  font-style: normal;
}

.footer-in-footer .container {
  display: flex;
  padding: 35px 0;
}

.footer-in-footer {
  font-size: 16px;
  line-height: 18px;

  background-color: #293449;
}

.footer-copyright {
  margin: 0;
  margin-right: 20px;
  padding: 0;
}

.footer-copyright:first-child {
  width: 240px;
}

ul.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 135px;
  margin-left: 150px;
  margin-right: 110px;
}

.social-button {
  display: block;
  width: 41px;
  height: 41px;

  color: #ffffff;

  background-color: #212a3a;
  border-radius: 50%;
}

.btn-vk {
  background-image: url(../img/icon-vk.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.btn-fb {
  background-image: url(../img/icon-fb.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.btn-in {
  background-image: url(../img/icon-insta.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  background-color: #ee3643;
}

.footer-copyright a {
  color: #ffd180;
}

.footer-copyright a:active {
  color: #ee3643;
  text-decoration: none;
}

[class*="current-in-"] {
  pointer-events: none;
  cursor: default;
}

a.current-in-services {
  color: #32425c;

  background-color: #ffffff;
  box-shadow: none;
}

a.current-in-sorting {
  color: #ee3643;
  text-decoration: none;
}

a.current-in-pagination {
  color: #ffffff;

  background-color: #ee3643;
  border: none;
}

.modal {
  display: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



