body {
  margin: 0;

  font-family: "Cuprum", "Arial", sans-serif;
}

main {
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
}

.header-in-header {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.main-header-logo,
.footer-logo {
  display: inline-block;

  background-color: #ee3643;
  box-shadow: 0 -5px 0 0 rgba(0, 0, 0, 0.24) inset;
}

.search-icon {
  opacity: 0.3;
}

input[type="search"] {
  background-color: #293449;
  border: none;
}

input[type="search"]::-webkit-input-placeholder {
  color: #ffffff;
}

input[type="search"]::-moz-input-placeholder {
  color: #ffffff;
}

.tabs,
.cart {
  color: #ffffff;

  background-color: #293449;
}

.btn-checkout {
  color: #ffffff;

  background-color: #63a63e;
}

.footer-in-header {
  background-color: #f3f7f8;
}

.main-description {
  margin: 0;

  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.telephone-number-header {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  border: 3px solid #ffffff;
}

.address-header {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-area {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.user-name {
  color: #000000;
}

.user-navigation-if-logged {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
}

.user-navigation-if-logged li:first-child {
  list-style: none;
}

.user-navigation-if-logged a {
  color: #32425c;
  text-decoration: underline;
}

.user-navigation,
.site-navigation {
  list-style: none;
}

.user-navigation a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.main-navigation {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #32425c;
  box-shadow: 0 -5px 0 0 #293449 inset;
}

.site-navigation a {
  color: #ffffff;
}

.technomart-nav {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.technomart-nav a {
  color: #000000;
}

.technomart-nav li {
  list-style-image: url("../img/icon-right-small.svg");
}

.technomart-nav li:first-child {
  list-style: none;
}

.page-title {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f3f7f8;
}

.filters {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.filters h2 {
  font-size: 13px;
  line-height: 18px;
}

.filter-form legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.filter-form label {
  font-size: 15px;
  line-height: 20px;
}

.filter-form fieldset {
  border: none;
}

.filter-form fieldset:not(:first-of-type) {
  border-top: 1px solid #e5e5e5;
}

.btn-show {
  font-size: 13px;
  color: #000000;

  background-color: transparent;
  border: 1px solid #e5e5e5;
}

.about-company h2,
.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}

.about-company p,
.contacts p {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
}

.delivery-companies {
  font-size: 18px;
  line-height: 20px;
  color: #000000;

  list-style: none;
}

.map-button {
  background-color: #f4f2ed;
  border: none;
}

.main-footer {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  background-color: #32425c;
}

.main-footer ul {
  list-style: none;
}

.footer-navigation a {
  color: #ffffff;
}

.addres-telephone-in-footer {
  font-style: normal;
}

.promo-list-in-footer a {
  color: #ffd180;
}

.footer-in-footer {
  font-size: 16px;
  line-height: 18px;

  background-color: #293449;
}

.social-button {
  color: #ffffff;

  background-color: #212a3a;
}

.footer-copyright a {
  color: #ffd180;
}

.modal {
  display: none;
}
